<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <h2>Add New Contact</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Profile Image: </label>
        <input type="file" name="profile_image" required><br><br>
        <label>First Name: </label>
        <input type="text" name="fname" required><br><br>
        <label>Email: </label>
        <input type="email" name="email"><br><br>
        <label>Phone Number: </label>
        <input type="number" name="phonenum" required><br><br>
        <a href="{% url 'home' %}">Cancel</a>
        <button type="submit">Add Contact</button>
    </form>
</body>
</html>