{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Home</title>
</head>
<body>
    <h1>Contact List</h1>
    <a href="{% url 'addcontact' %}">Add Contact</a><br><br>

    <table border="1px">
        <thead>
            <tr>
                <th>Image</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr>
                <!-- Add condition / if already a image contact is added without image the eeror will raise -->
                <td>
                    {% if contact.profile_image %}
                        <img src="{{ contact.profile_image.url }}" width="100">
                    {% else %}
                        No Image
                    {% endif %}  
                </td>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.phonenumber }}</td>
                <td>
                    <span><a href="{% url 'edit' contact.id %}">Update</a></span>
                    <span><a href="{% url 'delete' contact.id %}">Delete</a></span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>